<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <%= favicon_link_tag 'favicon_jitips.ico' %>
  <title>Jitips</title>
  <meta name="description" content="Jitips permet aux clients de sites e-commerce de recommender un produit à leur communauté et de l'acheter ensemble à un meilleur prix.">
  <meta name="author" content="Augustin Mulliez et Louis Dublancq">

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <script id="mcjs">!function(c,h,i,m,p){m=c.createElement(h),p=c.getElementsByTagName(h)[0],m.async=1,m.src=i,p.parentNode.insertBefore(m,p)}(document,"script","https://chimpstatic.com/mcjs-connected/js/users/4fc41046d70b4d53b368be66f/cc5334f7070f7b666c50eaca9.js");</script>

</head>
<body>

<!--   <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Brand</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
      </div>
    </div>
  </nav> -->

  <%= yield %>

<!--   <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">&copy; Jitips</p>
    </div>
  </footer> -->


</body>
</html>
